.team {
  &-hero {
    p {
      margin: 60px auto;
      max-width: 800px;
    }

    h1 {
      font-family: @fontPoppins;
      font-weight: bold;
      line-height: 1;
      font-size: 90px;
      color: #000;
      margin: 0;
    }

    &__img {
      display: flex;
      justify-content: space-between;
      margin: 0 -9px 10px;

      & > div {
        margin: 0 9px;

        img {
          border-radius: 13px;
          width: 290px;
        }
      }

      &:nth-child(2) {
        & > div {
          &:nth-child(2) {
            align-self: center;
          }
        }
      }
    }
  }

  &-member {
    margin: 100px 0;

    &__row {
      display: flex;
      align-items: center;
      margin: 0 -40px;

      & > div {
        margin: 0 40px;

        &:first-child {
          flex: 1;
        }

        &:last-child {
          flex: 2;
        }
      }

      h3 {
        font-size: 26px;
        font-family: @fontPoppins;
        font-weight: 600;
        margin: 0;
      }

      a {
        text-decoration: underline;
        color: #000;
        font-weight: 500;
      }

      &--title {
        margin: 0;
        color: #ABACB6;
      }

      &--bio {
        max-height: 9.9rem;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 0;

        &.is-expanded {
          max-height: none;
        }
      }

      @media (max-width: 767px) {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;

        img {
          max-width: 250px;
        }

        & > div {
          margin: 0;

          &:first-child {
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  &-expertise {
    margin: 200px 0 300px;

    &__row {
      display: flex;
      margin: 0 -10px;

      & > div {
        margin: 0 10px;

        &:first-child {
          flex: 1;
        }

        &:last-child {
          flex: 2;
        }

        h3 {
          line-height: 1.2;
          margin-bottom: 200px;
        }
      }
    }
  }
}