.ws {
  &-hero {
    img {
      opacity: 0;
      transition: opacity 1s;

      &.is-visible {
        opacity: 1;
      }
    }
  }

  &-fortune {
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      h4 {
        font-size: 26px;
        max-width: 260px;
        line-height: 1.4;
        color: @colorRed;
        margin-top: 0;
      }

      p {
        max-width: 410px;
        font-size: 16px;
        margin-bottom: 30px;
        margin-top: 0;
      }

      & > div {
        padding: 100px;
        flex: 1;
      }

      @media (max-width: 979px) {
        flex-direction: column;

        & > div {
          padding: 50px 0;

          &:first-child {
            padding-bottom: 0;
          }

          &:last-child {
            padding-top: 0;
          }
        }
      }
    }
  }

  &-model {
    margin-bottom: 100px;

    &__row {
      display: flex;
      align-items: flex-end;

      img,
      p {
        display: inline-block;
        margin: 0 25px;
      }

      img {
        width: 55%;
      }

      p {
        font-size: 42px;
        font-weight: 700;
        background: rgb(241,90,57);
        background: linear-gradient(100deg, rgba(241,90,57,1) 0%, rgba(246,136,31,1) 32%, rgba(0,212,255,1) 82%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1.2;
        margin-bottom: 30px;
        animation-name: animateGradient;
        animation-duration: 10s;
        animation-iteration-count: infinite;
      }

      @media (max-width: 979px) {
        flex-direction: column;
        align-items: center;

        img,
        p {
          margin: 0;
        }

        p {
          margin-top: 30px;
          font-size: 4vw;
        }
      }
    }

    &__cards {
      display: flex;
      align-items: stretch;
      margin: 30px -8px;

      & > span {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 170px;
        background-color: @colorLightGrey;
        padding: 22px;
        border-radius: 13px;
        margin: 8px;
        width: 16.66%;
        font-size: 16px;
        line-height: 1.4;
        transition: all 0.2s;

        &:hover {
          transform: translateY(-4px);
          box-shadow:
            0px 0.4px 0.5px rgba(0, 0, 0, 0.035),
            0px 1px 1.3px rgba(0, 0, 0, 0.05),
            0px 2.4px 3px rgba(0, 0, 0, 0.065),
            0px 8px 10px rgba(0, 0, 0, 0.1)
          ;
        }

        img {
          max-width: 70px;
          max-height: 70px;
          opacity: 0.7;
        }
      }

      @media (max-width: 979px) {
        flex-wrap: wrap;
        justify-content: center;

        span {
          min-width: 120px;
        }
      }
    }
  }

  &-relationship {
    margin-bottom: 100px;

    &__content {
      position: relative;
      border-radius: 13px;
      text-align: center;
      padding: 100px 0 200px;
      background-image: url('/assets/images/workforce-success/relationship-gradient.png');
      background: rgb(248,186,39);
      background: linear-gradient(100deg, rgba(248,186,39,1) 25%, rgba(232,126,78,1) 57%, rgba(54,193,188,1) 89%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      .font-smoothing(#E38143);

      p {
        color: #fff;
        font-size: 18px;
        max-width: 680px;
        margin: 0 auto 50px;
        padding: 0 15px;

        @media (max-width: 480px) {
          font-size: 16px;
        }
      }

      img {
        position: absolute;
        bottom: 0;
        max-height: 30vw;
      }

      &--img-1 {
        left: -300px;
        height: 70%;
      }

      &--img-2 {
        right: -300px;
        height: 80%;
      }
    }
  }

  &-strategies {
    margin-top: 200px;

    h2 {
      text-transform: uppercase;
    }

    &__row {
      display: flex;
      justify-content: space-between;

      & > div {
        &:first-child {
          max-width: 55%;
        }

        &:last-child {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          max-width: 40%;

          img {
            margin: 15px;

            &:nth-child(1) {
              margin: 15px 100px;
              width: 57%;
            }

            &:nth-child(2) {
              align-self: flex-start;
              width: 20%;
            }

            &:nth-child(3) {
              margin-top: 30px;
              width: 48%;
            }

            &:nth-child(4) {
              margin-top: 25px;
              width: 50%;
            }

            &:nth-child(5) {
              align-self: flex-start;
              width: 20%;
            }
          }
        }

        ul {
          margin-top: 50px;

          li {
            font-size: 16px;
          }
        }
      }

      @media (max-width: 979px) {
        flex-direction: column;

        & > div {
          max-width: 100% !important;

          &:last-child {
            margin-top: 100px;
          }
        }
      }
    }
  }

  &-who {
    margin: 200px 0;

    @media (max-width: 767px) {
      margin: 100px 0;
    }

    &__row {
      display: flex;
      margin: 0 -10px;

      & > div {
        flex: 1;
        width: 50%;
        margin: 0 10px;

        &:first-child {
          & > div {
            position: relative;
            background: linear-gradient(124.87deg, #E38143 3.96%, #0189C1 97.83%);
            border-radius: 13px;
            padding: 70px 50px;
            max-width: 60%;
            .font-smoothing(#E38143);
            height: calc(~"100% - 140px");

            h2 {
              color: #fff;
              font-family: @fontPoppins;
              font-weight: 700;
              font-size: 28px;
            }

            p {
              color: #fff;
              font-size: 16px;
            }

            img {
              position: absolute;
              bottom: -80px;
              right: -80px;
              transform: rotate(180deg);
            }
          }
        }

        &:last-child {
          iframe {
            border-radius: 13px;
            overflow: hidden;
            width: 100%;
          }
        }
      }

      @media (max-width: 979px) {
        flex-direction: column-reverse;

        & > div {
          width: calc(~"100% - 20px");

          &:first-child {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  &-clients  {
    padding-bottom: 150px;

    @media (max-width: 767px) {
      padding-bottom: 100px;
    }

    &__images {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      max-width: 900px;
      margin: auto;

      img {
        margin: 20px 30px;
      }
    }
  }

  &-partners {
    h2 {
      margin-bottom: 50px;
    }

    &__section {
      min-height: 600px;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      &-1 {
        background-image: url('/assets/images/workforce-success/dartmouth-college.jpg');
      }

      &-2 {
        background-image: url('/assets/images/workforce-success/peabody-properties.jpg');
      }
    }

    &__content {
      background-color: #fff;
      padding: 50px 100px 50px 50px;
      border-radius: 0 0 13px 13px;
      max-width: calc(~"50% - 150px");

      h3 {
        font-size: 34px;
      }

      @media (max-width: 979px) {
        max-width: 100%;
        padding: 30px;
      }
    }
  }

  &-engagements {
    position: relative;
    height: 90vw;

    @media (max-width: 767px) {
      height: 115vw;
    }

    &__circles {
      position: relative;

      & > div {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-image: url('/assets/images/workforce-success/engagements-gradient.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        font-family: @fontAleo;
        font-size: 2.6vw;
        line-height: 1.2;

        &:nth-child(1) {
          height: 27vw;
          width: 27vw;
          top: 100px;
          left: calc(~"50% - 600px");
          padding: 50px;
        }
        
        &:nth-child(2) {
          height: 17vw;
          width: 17vw;
          top: 100px;
          left: calc(~"50% + 100px");
          transform: rotate(0deg);
        }
        
        &:nth-child(3) {
          height: 27vw;
          width: 27vw;
          top: 41vw;
          left: calc(~"50% - 12vw");

          img {
            width: 80%;
          }
        }

        @media (max-width: 1200px) {
          font-size: 2.5vw;

          &:nth-child(1) {
            left: 0;
          }

          &:nth-child(2) {
            left: 60%;
          }
        }

        @media (max-width: 767px) {
          font-size: 4vw;

          &:nth-child(3) {
            top: 68vw;
          }
        }
      }
    }

    &__audience {
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  &-reviews {
    background-image: linear-gradient(100deg, #f15a39 0%, #f6881f 32%, #00d4ff 82%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    padding: 130px 0;
    animation-name: animateGradient;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    @media (max-width: 767px) {
      padding: 50px 0;
    }

    &__cards {
      display: flex;
      justify-content: center;
      align-items: stretch;
      margin: 0 -10px;
      
      & > div {
        position: relative;
        flex: 1;
        background-color: #fff;
        margin: 0 10px;
        padding: 50px;
        border-radius: 13px;
      }

      &--meta {
        position: absolute;
        top: calc(~"100% - 130px");
        left: 30px;
        right: 30px;
        line-height: 1.4;

        span {
          font-size: 12px;
          color: @colorGrey;
        }
      }

      &--review {
        padding-bottom: 75px;
        font-size: 12px;
      }

      @media (max-width: 767px) {
        flex-direction: column;

        & > div {
          margin-bottom: 30px;
        }
      }
    }
  }

  &-team {
    margin: 150px 0;
    
    .home-team__row {
      margin-top: 70px;
    }
  }
}
