.community {

  &-hero {
      display: flex;
      justify-content: center;
      margin-bottom: 80px;

      @media (max-width: 767px) {
       margin-bottom: 40px;
      }

      &-container {

        @media (max-width: 767px) {
          margin-top: 0;
          padding-top: 0;
          
        }

      }

      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }

      .deo-1 {
        grid-area: deo-1;
        object-fit: cover;
      }

      .deo-2 {
        grid-area: deo-2;
        object-fit: cover;
      }

      .deo-3 {
        grid-area: deo-3;
        object-fit: cover;
      }

      .deo-4 {
        grid-area: deo-4;
        height: 70%;
        object-fit: cover;

        @media (max-width: 767px) {
          display: none;
        }
      }

      .deo-5 {
        grid-area: deo-5;
        height: 80%;
        object-fit: cover;

        @media (max-width: 767px) {
          display: none;
        }
        
      }

      .deo-6 {
        grid-area: deo-6;
        object-fit: cover;
      }

      .deo-7 {
        grid-area: deo-7;
        height: 110%;
        object-fit: cover;

        @media (max-width: 767px) {
          display: none;
        }
      }

      
      .text {
        grid-area: text;
        

        @media (max-width: 1200px) {
          margin-bottom: 40px;
          padding-left: 0px;
        }


        h1 {
          
          font-family: @fontPoppins;
          font-weight: 600;
          font-size: 3vw;
          letter-spacing: 0.9px;
          line-height: 1.2;
          text-transform: uppercase;
          max-width: 450px;
          
          background: linear-gradient(135.79deg, #FC2A4F 15.64%, #1B4371 101.44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            display: inline-block;

          @media (max-width: 767px) {
            font-size: 34px;
          }
        }
      }

      .grid {
        max-width: 1400px;
        margin-left: 10%;
        padding-top: 40px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        display: grid;
        grid-template-columns: 8% 24% 24% 3% 8% 8% 10%;
        grid-template-rows: auto;
        grid-template-areas: 
        "text text deo-1 deo-1 deo-2 deo-3 deo-3"
        ". deo-4 deo-5 . deo-2 deo-3 deo-3"
        ". deo-4 deo-5 deo-6 deo-6 deo-6 deo-7";
        
          
        column-gap: 1.2vw;
        row-gap: 1.2vw;

        @media (max-width: 767px) {

          
          justify-content: center;
          margin-left: 0;
          grid-template-columns: 48% 48%;
          
          grid-template-areas: 
          "text text"
          "deo-2 deo-6"
          "deo-2 deo-3"
          "deo-1 deo-3";
          
            
          column-gap: 2vw;
          row-gap: 2vw;
        }
      }
    }

  &-center {
    margin-bottom: 80px;
      
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    
      h2 {
        text-transform: uppercase;
        text-align: center;
        font-family: @fontPoppins;
        color: #FC2A4F;
        max-width: 700px;
        font-size: 24px;
        font-weight: 550;
        letter-spacing: .8px;
        line-height: 1.5;
        padding-bottom: 20px;
      }

      .button {
        background-color: #FC2A4F !important;
        border-color: #FC2A4F;
      }
    }
  }

    &-solutions {
      
      .solutions-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        max-width: 1400px;
        margin-bottom: 120px;
        
        .solutions-card {
          width: 80%;
          display: flex;
          align-items: center;
          gap: 20px;
          border-radius: 13px;

          @media (max-width: 767px) {
            flex-wrap: wrap;
            width: 90%;
          }
          
          img {
            width: 50%;
            

            @media (max-width: 767px) {
            width: 100%;  
            }
          }

          p {
            font-size: 14px;
            line-height: 1.5;
            padding: 0 20px 0 20px;

            @media (max-width: 767px) {
              padding: 20px 40px 40px 40px;
              max-width: 400px;
            }
          }
        }

        #top-card {
          img {
            border-radius: 13px 0 0 13px;

            @media (max-width: 767px) {
              border-radius: 13px 13px 0 0;
            }
          }
        }

        #bottom-card {

          @media (max-width: 767px) {
            flex-wrap: wrap-reverse;
            
          }

          img {
            border-radius: 0 13px 13px 0;
            @media (max-width: 767px) {
              border-radius: 13px 13px 0 0;
            }
          }
        }
      }
    }

    &-work {
    margin: 50px 0 200px;

    @media (max-width: 767px) {
     margin-bottom: 0;
   }

    &__row {
      &--1 {
        background: linear-gradient(135.79deg, #FC2A4F 15.64%, #1B4371 101.44%);

        &::before {
          background-color: @colorRed !important;
        }
      }
    }
  }

    &-partners-heading {
    margin: 100px 0;

    h2 {
      color: #0189C1;
      font-family: @fontPoppins;
      font-weight: 550;
      font-size: 34px;
    }
  }

  &-partners {
    min-height: 100vh;

    .tns-outer {
      overflow: hidden;
    }

    &__content {
      position: relative;
      z-index: 1;
      background: linear-gradient(1.76deg, @colorRed 2.06%, #1B4371 92.45%);
      border-radius: 13px 13px;
      padding: 35px 80px 70px 40px;
      width: calc(~"50% - 120px");

      @media (max-width: 767px) {
        width: calc(~"100% - 120px");
      }

      &-container {
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 90px 0;
        height: calc(~"100vh - 180px");

        &-1 {
          position: relative;
          background-image: url('/assets/images/community-transformation/manchester-city.jpg');

          video {
            position: absolute;
            z-index: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-2 {
          background-image: url('/assets/images/community-transformation/food-store.jpg');
        }

        &-3 {
          background-image: url('/assets/images/community-transformation/healthcare.jpg');
        }

        &-4 {
          background-image: url('/assets/images/community-transformation/community-loan-fund.jpg');
        }
      }

      * {
        color: #fff;
        .font-smoothing(@colorRed);
      }
    }

    @media (max-width: 767px) {
      min-height: 50vh;

      .swiper-button-next, .swiper-button-prev {
        top: 40px;
      }

      .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: calc(~"100% - 100px");
      }
    }
  }


  &-engagements {
    background-image: url('/assets/images/community-transformation/dmc-engagements.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 170px 0;
    min-height: 500px;
    height: calc(~"100vh - 340px");

    h2 {
      max-width: 540px;
      margin: auto;
      color: #fff;
      .font-smoothing(@colorRed);
    }
  }

    &-reviews {
    background: none;
    padding-top: 120px;
    padding-bottom: 0;

    &__cards {
      @media (max-width: 767px) {
        flex-direction: column;
      }

      & > div {
        flex: 1;
        background: linear-gradient(180deg, #1F4371 0%, @colorRed 100%);
        // padding: 50px 25px;
        .font-smoothing(@colorRed);

        .ws-reviews__cards--review {
          &::before {
            content: none;
          }
        }

        * {
          color: #fff;
        }
      }
    }
  }

    &-blogs {
      margin-top: 100px;

      @media (max-width: 767px) {
        margin-top: 0;
      }

      h2 {
        text-align: center;
        font-family: @fontPoppins;
        color: @colorRed;
        font-weight: 550;
        font-size: 44px;
      }

      .featured-blogs-container {
        margin: 60px;
        display: flex;
        flex-direction: row;
        gap: 30px;

        @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        margin: 20px 20px 60px 20px;
        }

        .blog-card {
          width: 30%;

        @media (max-width: 767px) {
        width: 100%;
        }

          h3 {
              font-family: @fontPoppins;
              margin: 0;
              font-weight: 550;
            }
            
          .blog-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: @fontPoppins;
            font-size: 12px;
          }
        }
      }
    }

    &-button {
  
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      
        h2 {
          text-transform: uppercase;
          text-align: center;
          font-family: @fontPoppins;
          color: #008AC7;
          max-width: 900px;
          font-size: 24px;
          font-weight: 550;
          letter-spacing: .8px;
          line-height: 1.5;
          padding-bottom: 40px;
        }
    
        
    
        .button {
          background-color: #FC2A4F !important;
          border-color: #FC2A4F;
        }
      }
    }
    
    

    &-team {
      margin: 100px 0;
    
      @media (max-width: 767px) {
        margin: 50px 0;
      }
  
      &__row {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
  
        @media (max-width: 1200px) {
          &--empty {
            display: none !important;
          }
        }
  
        & > div {
          min-width: calc(~"33.33% - 46px");
          max-width: calc(~"33.33% - 46px");
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 23px;
  
          @media (max-width: 1200px) {
            min-width: calc(~"50% - 46px");
            max-width: calc(~"50% - 46px");
          }
  
          @media (max-width: 767px) {
            min-width: calc(~"100% - 46px");
            max-width: calc(~"100% - 46px");
          }
  
          img {
            width: 90px;
            height: 90px;
            margin-right: 12px;
            border-radius: 50%;
          }
  
          h4 {
            color: @colorRed;
            margin: 0;
            font-size: 18px;
            font-family: @fontPoppins;
            font-weight: 550;
          }
  
          p {
            margin: 0;
            font-size: 16px;
          }
        }
      }
    }

}

.ct {
  &-community {
    &__heading {
      margin-bottom: 100px;

      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 75px -25px;

      .poppins {
        font-family: @fontPoppins;
        font-weight: 550;
      }

      & > div {
        flex: 1;
        margin: 0 25px;
        overflow: hidden;
        border-radius: 13px;
      }

      ul {
        li {
          font-size: 16px;
        }
      }

      p {
        max-width: 400px;
      }

      &:last-of-type {
        margin-top: 20px;
        margin-bottom: 20px;

        & > div {
          &:first-child {
            flex: 2;
            max-width: 600px;
            margin-right: 150px;
          }
        }
      }

      @media (max-width: 767px) {
        flex-direction: column;
        margin: 25px -25px;

        ul {
          li {
            font-size: 14px;
          }
        }

        & > div {
          &:last-child {
            margin-top: 20px;
          }
        }

        &:last-of-type {
          margin-top: 100px;

          & > div {
            &:first-child {
              max-width: auto;
              margin-right: 25px;
            }
          }
        }
      }
    }

    &__strategies {
      overflow: initial !important;

      & > div {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        
        &:nth-of-type(1) {
          justify-content: center;

          img {
            width: 90%;
          }
        }

        &:nth-of-type(2) {
          justify-content: flex-end;

          img {
            width: 53%;
          }
        }

        &:nth-of-type(3) {
          justify-content: flex-start;

          img {
            width: 60%;
            margin-right: 20px;
          }
        }

        span {
          display: inline-block;
          background-color: @colorLightGrey2;
          height: 100px;
          min-width: 110px;
          border-radius: 13px;
        }
      }
    }
  }
}

.community-clients {

   @media (max-width: 767px) {
     padding: 0 !important;
   }
}